body{
	margin:0 ;
	width:1280px;
	border:1px solid #6b2e4b;
	height:100%;
	background: #faf7f0;
	font-family: 'Arial Black' sans-serif;
	text-align:center;
	margin: 0;
}

#table{
	margin: auto;
	text-align:center;
	border-collapse:collapse;
	width:100%;
	height:100%;

}

#basmenu{
	border:1px solid #c98fa7;
	height:60px;
	text-align:center;
}

#menu{
	border:1px solid #e0b6ca;
	width:250px;
	vertical-align: top;
	background-color:#e0b6ca;
	text-align: center;
	font-size:20pt;
}

#resultats{
	border: 1px solid #c27098;
	height:300px;
	text-align:center;
	background-color:#c27098;
}

#piedpage{
	border:1px solid #6b2e4b;
	height:60px;
	text-align:center;
	background-color: #6b2e4b;
}

#hautpage{
	vertical-align: top;
	padding: 20px;
	border:1px ; 

}


div#contenu {
	margin:0 auto;
	border:1px ;
	background-color:#fffffa;
	}


/* Add a  background  to the top navigation */
#bandeau{
  background-color: #f7f2f4;
  margin: 0 auto;

}

/* Style the links inside the navigation bar */
#bandeau a {
  color: #42062a;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;

}

/* Change the color of links on hover */
#bandeau a:hover {
  background-color: #deced5;
  color: black;
}

/* Add a color to the active/current link */
#bandeau a.active {
  background-color: #c98fa7;
  color: white;
}


.search {
  width: 80%;
  margin:0 auto;
}

.searchButton {
	width:85px;
	height:85px;
	background:#fafafa;
	box-shadow:2px 2px 8px #aaa;
	font:bold 13px Arial;
	border-radius:50%;
	color:#555;
}
#map{

height: 900px;
 }



}
